/**
 * Provides the frontend css of terminal
 *
 * @since 0.0.5
 */

.terminal {
    background-color: black;
    color: #00ff00;
    font-family: 'Consolas', monospace;
    margin: 0px;
    font-size: 16px;
    padding: 0px;
    height: 100vh;
    overflow-y: scroll;
    white-space: pre-wrap;
}

.container {

    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 10px;
    white-space: pre-wrap;
    overflow-y: auto;

}

.dynamic-span {
    display: inline;
    word-break: break-word;
    white-space: pre-wrap;
    outline: none;
}

.breaked-span {
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
}

/* .input-area {
    display: inline;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
} */